@import '~helpers/variables';
@import '~helpers/mixins';

$header-height: 65px;

.header {
  background-color: $header-bk-color;
  position: absolute;
  height: $header-height;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: $header-text-color;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  animation: in 1s ease;
  z-index: 1000;

  .wrapper {
    display: flex;
    width: 100%;

    .logoPart {
      max-width: 250px; 
      display: flex;
      align-items: center;

      .currentPage {
        display: none;

        @include desktop {
          display: block;
          margin: 0 20px;
        }
      }
    }

    .searcherPart {
      flex: 1;
    }
  }
}

@keyframes in {
  0% { 
    opacity: 0;
    transform: translate3d(0, -#{$header-height}, 0); 
  }
  100% { 
    opacity: 1;
    transform: translate3d(0, 0, 0); 
  }
}