.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;

  .ul {
    list-style: none;
    margin: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 1em;
    -webkit-overflow-scrolling: touch;
  }
}