@import '~helpers/variables';
@import '~helpers/mixins';

@use postcss-normalize;

:global * {
  box-sizing: border-box;
}

:global html,
:global body {
  height: 100%;
  width: 100%;
  background-color: $app-bk-color;
  font-size: $font-size-mobile;

  @include desktop {
    font-size: $font-size-desktop;
  };
}

:global body {
  font-family: $local-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global body.fontLoaded {
  font-family: $font-family;
}

:global #app,
:global #app > section {
  height: 100%;
  width: 100%;
}

